<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">
<configuration scan="true" scanPeriod="10 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- do not add line number output , it will slow down the execution speed -->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
  
	<logger name="bingodrive" level="TRACE"/>
	<logger name="leap"       level="DEBUG"/>
 	 
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>